body {
  overflow-x: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
  word-break: break-word;
}

.entry-content.no-padding {
  padding: 0;
}

/* 7. Single Post
/* ---------------------------------------------------------- */



.entry-content hr {
  width: 100%;
}

.entry-content {
  position: relative;
  margin: 0 auto;
  padding: 0 100px 0;
  min-height: 230px;
  font-size: 2.0rem;
  line-height: 2em;
  background: $dark-color;
}

@media (max-width: 1170px) {
  .entry-content {
    padding: 0 11vw;
  }
}

@media (max-width: 800px) {
  .entry-content {
    padding: 0 5vw;

  }
}

@media (max-width: 500px) {
  .post-full-custom-excerpt {}
}

.no-image .entry-content {
  padding-top: 0;
}

.no-image .entry-content:before,
.no-image .entry-content:after {
  display: none;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content p,
.entry-content ul,
.entry-content ol,
.entry-content dl,
.entry-content pre,
.entry-content blockquote,
.post-full-comments,
.footnotes {
  margin: 0 0 .5em 0;
  min-width: 100%;
  max-width: 100%;

}

@media (max-width: 500px) {

  .entry-content p,
  .entry-content ul,
  .entry-content ol,
  .entry-content dl,
  .entry-content pre,
  .post-full-comments,
  .footnotes {
    margin-bottom: 1.28em;
  }
}

.entry-content li {
  word-break: break-word;
}

.entry-content li p {
  margin: 0;
}

.entry-content a {

  word-break: break-word;
  box-shadow: var(--darkgrey) 0 -1px 0 inset;
  transition: all 0.2s ease-in-out;
}

.entry-content a:hover {

  text-decoration: none;
  box-shadow: var(--primary-color) 0 -1px 0 inset;
}

.entry-content strong,
.entry-content em {}

.entry-content small {
  display: inline-block;
  line-height: 1.6em;
}

.entry-content li:first-child {
  margin-top: 0;
}

.entry-content img,
.entry-content video {
  display: block;
  margin: 1.5em auto;
  max-width: 1040px;
  height: auto;
}

@media (max-width: 1040px) {

  .entry-content img,
  .entry-content video {
    width: 100%;
  }
}


/* Full bleed images (#full)
Super neat trick courtesy of @JoelDrapper

Usage (In Ghost edtior):

![img](/some/image.jpg#full)

*/
.entry-content img[src$="#full"] {
  max-width: none;
  width: 100vw;
}


/* Image captions

Usage (In Ghost editor):

![img](/some/image.jpg)
<small>Your image caption</small>

*/
.entry-content img+br+small {
  display: block;
  margin-top: -3em;
  margin-bottom: 1.5em;
  text-align: center;
}


/* Override third party iframe styles */
.entry-content iframe {
  margin: 0 auto !important;
}

.entry-content blockquote {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  border-left: #f4483b 3px solid;
  background: $grey-color;
  padding: 30px;
}

@media (max-width: 500px) {
  .entry-content blockquote {
    padding: 0 1.3em;
  }
}

.entry-content blockquote p {
  margin: 0 0 1em 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
}

.entry-content blockquote p:last-child {
  margin-bottom: 0;
}



.entry-content .fluid-width-video-wrapper {
  margin: 1.5em 0 3em;
}

.entry-content hr {
  margin: 2em 0;
}

.entry-content hr:after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  display: block;
  margin-left: -10px;
  width: 1px;
  height: 30px;
  background: color(var(--lightgrey) l(+10%));
  box-shadow: #fff 0 0 0 5px;
  transform: rotate(45deg);
}

.entry-content hr+p {
  margin-top: 1.2em;
}


.footnotes-sep {
  margin-bottom: 30px;
}

.footnotes {
  font-size: 1.5rem;
}

.footnotes p {
  margin: 0;
}

.footnote-backref {

  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none !important;
  box-shadow: none !important;
}

/* Some grouped styles for smaller viewports */
@media (max-width: 1170px) {
  .post-full-image {
    margin: 25px -6vw 50px;
    border-radius: 0;
  }

  .post-full-image img {
    max-width: 1170px;
  }
}

@media (max-width: 700px) {
  .post-full-image {
    margin: 25px -5vw;
  }
}

@media (max-width: 500px) {
  .post-full-meta {
    font-size: 1.2rem;
    line-height: 1.3em;
  }

  .post-full-title {
    margin-top: 0.2em;
    font-size: 3.3rem;
  }

  .post-full-image {
    margin-top: 5px;
    margin-bottom: 5vw;
  }

  .entry-content {
    padding: 0;
  }

  .entry-content:before,
  .entry-content:after {
    display: none;
  }
}

/* Tables */
.entry-content table {
  overflow-x: auto;
  margin: 0.5em 0 2.5em;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1.6rem;
  vertical-align: top;
}

table td,
table th {
  font-size: 1.2rem;
  word-break: break-word;
}

.entry-content table {
  -webkit-overflow-scrolling: touch;
  background-attachment: scroll, scroll;
  background-size: 10px 100%, 10px 100%;
  background-repeat: no-repeat;
}

.entry-content table td:first-child {
  background-size: 20px 100%;
  background-repeat: no-repeat;
}

.entry-content table td:last-child {
  background-position: 100% 0;
  background-size: 20px 100%;
  background-repeat: no-repeat;
}

.entry-content table th {

  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: left;
  text-transform: uppercase;
  background-color: color(var(--whitegrey) l(4%));
}

.entry-content table th,
.entry-content table td {
  padding: 4px 10px;
  word-break: break-word;
  font-size: 16px;
  text-align: center;

}





/* 7.5. Koenig Styles
/* ---------------------------------------------------------- */

.entry-content {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
  display: inline-block;
}

.entry-content a {
  color: var(--primary-color);
}


// Comments style
.comments_template {
  display: block;
  margin-bottom: 30px;
}

h4.sub-title.heading-4.section-title {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 4px dotted;
  margin-bottom: 35px;
}

.comments_template input {

  &[type=text],
  &[type=email] {
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 0px;
    margin-bottom: 20px;

    &:focus {
      box-shadow: none;
    }
  }
}

.comments-box.m-b-40 {
  margin: auto;
  background: #f1f3f3;
  border: 1px solid #f8f5f5;
  padding: 5px 30px;
  border-radius: 5px;
  margin-bottom: 40px;
  padding-top: 30px;
}

.comments_template {

  select {
    height: 40px;
  }
}

.post-comment {
  padding: 45px 40px;
}

.comments_template ul.children {
  margin-left: 0px;
  padding-left: 15px;
}

.churel-comment {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

ul.comments-list {
  margin-bottom: 30px;
  padding: 0;

  li.comment {
    border-bottom: 4px double #ebe6e6;
    margin-bottom: 15px;
  }

  li.comment:last-child {
    border-bottom: none;
    margin-bottom: 15px;
  }

}


.comments_template>li,
li.comment {
  list-style: none;
}

p.comment-form-cookies-consent {
  font-size: 16px;
}

input[type=checkbox],
input[type=radio] {
  margin-top: 5.3px;
  float: left;
  margin-right: 5px;
}

.comments_template {
  .author-img {
    float: left;
    width: 70px;

    img {
      background-color: #222323;
    }
  }


  .comment-meta {
    float: left;
    width: calc(100% - 70px);
  }

  h6.author {
    margin-bottom: 10px;

    >a {
      margin-bottom: 2px;
    }
  }

  .date-and-edit {
    font-size: 10px;
    display: inherit;
    text-transform: uppercase;
  }

  .comment-text {
    float: right;
    width: calc(100% - 70px);
    line-height: 1.8;
    font-size: 16px;
  }

  span.reply-link {
    float: right;
    font-size: 14px;
  }

  a.comment-reply-link {
    text-transform: uppercase;
    font-size: 12px;

    &:before {
      content: "\f122";
      font-family: 'Font Awesome 5 free';
      margin-right: 5px;
      font-weight: 900;
    }
  }

  span.date {
    margin-bottom: 8px;
    display: block;

    i {
      margin-right: 5px;
      position: static;
    }
  }

  .comments_template ul.children {
    margin-left: 0px;
  }

  .comment-pagination {
    display: block;
    margin-bottom: 30px;

    .page-numbers {
      width: 34px;
      height: 34px;
      text-align: center;
      background: var(--primary-color);
      display: inline-block;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 900;
      color: var(--white);
    }

    .page-numbers.current {
      background-color: #c1caca;
      color: #222323;
    }
  }





  .trackback,
  .pingback {
    list-style: none;

    .comment-text {
      float: none;
      width: 100%;
    }
  }

  .trackback b.fn,
  .pingback b.fn {
    padding: 0px !important;
  }

  .trackback .comment-content>p,
  .pingback .comment-content>p {
    display: none;
  }

  .comments-closed {
    margin-top: 20px;
  }

  .trackback .comment-content,
  .pingback .comment-content {
    margin: 0;
  }

  .trackback .comment-meta,
  .pingback .comment-meta {
    width: 100%;
  }
}

/**
* ============================
*  23.0 Sidebar Area
* ============================
*/
.sidebar-widget {
  margin-bottom: 30px;
  float: left;
  width: 100%;

  select {
    width: 100% !important;
  }

  li.recentcomments {
    padding: 10px 0;
  }

  li.recentcomments a {
    font-weight: 600;
  }
}

.sidebar-widget ul {
  padding: 0;
}

.sidebar-widget ul li {
  list-style: none;
}

.sidebar-widget li {
  border-bottom: 1px solid #e4e7ec;
}

.widget li {
  position: relative;
}

.sidebar-widget li a {
  color: #404040;
  padding: 8px 0;
  display: inline-block;
}

.sidebar-widget ul li:last-child {
  border: none;
}

.sidebar-title {
  margin-bottom: 25px;
}

h5.sidebar-title.heading-5 {
  font-weight: 600;
}

.search-form-widget {
  display: block;
}

.search-form-widget input[type="text"] {
  background-color: #f2f6fb;
  border: 0;
  padding: 10px 20px;
  border-radius: 0;
}

.search-form-widget button[type="submit"] {
  background-color: var(--primary-color);
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 25px;
  border: 0;
  border-radius: 0;
}

.search-form-widget button[type="submit"]:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.category-widget {
  margin: 0;
}

.category-widget li {
  border: 0;
  border-radius: 0 !important;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 1, 1, 0.01);
  margin: 0;
  position: relative;
}

.category-widget li a {
  font-size: 16px;
  line-height: 28px;
  color: #404040;
  font-weight: 400;
}

.category-widget li:hover a,
.category-widget li.list-group-active a {
  color: var(--primary-color);
}

.category-widget li:last-child {
  padding-bottom: 0;
  border: 0;
}

.category-widget li:first-child {
  padding-top: 0;
}

.recent-widget {
  display: block;
}

.recent-widget .recent-wrapper {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.recent-widget .recent-wrapper .recent-img {
  width: 85px;
  float: left;
  overflow: hidden;
}

.recent-widget .recent-wrapper .recent-img img {
  width: 100%;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.recent-widget .recent-wrapper .recent-img:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.recent-widget .recent-wrapper .recent-details {
  width: calc(100% - 85px);
  padding-left: 12px;
  float: left;
}

.recent-widget .recent-wrapper .recent-details h6 {
  font-weight: 400;
}

.recent-widget .recent-wrapper .recent-meta {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #777777;
}

.tag-widget {
  margin: 0;
}

.tag-widget li {
  margin-bottom: 10px;
}

.tag-widget li a {
  font-size: 16px;
  line-height: 30px;
  color: #404040;
  font-weight: 400;
  background-color: #f2f6fb;
  border-radius: 0;
  padding: 8px 30px;
  display: inline-block;
}

.tag-widget li a:hover {
  color: #ffffff;
  background-color: var(--primary-color);
}

.sidebar-widget,
.footer-widget {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}

.sidebar-widget img,
.footer-widget img {
  width: 100%;
}

.sidebar-widget ul.children,
.footer-widget ul.children {
  margin: 0;
  border-top: 1px solid #e4e7ec;
}


.widget_rss .sidebar-title {
  margin-bottom: 15px;
  margin-top: -20px;
}

a.rsswidget {
  color: var(--primary-color);
  display: inline-block;
  font-size: 18px;
  line-height: 1.4;
  margin-top: 20px;
  padding-top: 0px !important;
}

span.rss-date {
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}

.rssSummary {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 10px;
}

img.rss-widget-icon {
  width: 15px;
  height: 15px;
  margin-top: -3px;
}

.sidebar-widget cite,
.footer-widget cite {
  padding-bottom: 15px;
  display: inline-block;
  font-weight: 600;
}

.sidebar-area form.search-form {
  margin-bottom: 25px;
}

.sidebar-widget ul.sub-menu,
.footer-widget ul.sub-menu {
  margin: 0;
}

.sidebar-widget .sub-menu li,
.footer-widget .sub-menu li {
  border-bottom: 1px solid #e4e7ec;
}

.sidebar-widget ul.sub-menu,
.footer-widget ul.sub-menu {
  margin: 0;
  border-top: 1px solid #e4e7ec;
}

.sidebar-widget.widget_text,
.footer-widget.widget_text {
  margin-bottom: 60px;
}

.sidebar-widget.widget_tag_cloud,
.footer-widget.widget_tag_cloud {
  margin-bottom: 60px;
}

.sidebar-widget li a {
  color: #404040;
  padding: 8px 0;
  display: inline-block;
}

.page-content span.archive-count:before,
.page-content span.cat-count:before {
  content: ' (';
}

.page-content span.archive-count:after,
.page-content span.cat-count:after {
  content: ')';
}

.sidebar-widget span.archive-count,
.sidebar-widget span.cat-count,
.footer-widget span.archive-count,
.footer-widget span.cat-count {
  float: right;
  width: 22px;
  background: #e7ecf3;
  font-size: 13px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 11px;
  height: 22px;
}

.sidebar-widget.widget_recent_entries li {
  padding: 5px 0;
}

.sidebar-widget.widget_recent_entries li a,
.footer-widget.widget_recent_entries li a {
  color: #404040;
  padding: 0;
  display: inline-block;
  line-height: 1.8;
}

span.post-date {
  font-size: 12px;
  font-weight: 100;
  display: block;
}

.sidebar-widget li a:hover,
.footer-widget li a:hover {
  color: var(--primary-color);
}

.tagcloud {
  float: left;
  width: 100%;
}

.tagcloud a {
  font-size: 16px !important;
  padding: 8px 15px;
  float: left;
  background: #f2f6fb;
  margin: 5px;
  line-height: 30px;
  border-radius: 5px;
}

p.wp-block-tag-cloud .tag-cloud-link {
  font-size: 16px !important;
  padding: 8px 15px;
  float: left;
  background: #f2f6fb;
  margin: 5px;
  line-height: 30px;
  border-radius: 5px;
}

p.wp-block-tag-cloud .tag-cloud-link:hover {
  background: var(--primary-color);
  color: #fff;
}

p.wp-block-tag-cloud {
  display: inline-block;
  width: 100%;
}

.tagcloud a:hover {
  background: var(--primary-color);
  color: #fff;
}

@media (min-width: 767px) and (max-width: 991px) {
  .sidebar-widget {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .sidebar-widget {
    margin-bottom: 30px;
  }
}

//WP CALENDAR
#wp-calendar {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  border-collapse: separate;
  border-spacing: 8px;
  margin-left: -2px;
  border: 1px solid #e1d8d8;
  border-radius: 5px;

  table tr th {
    border: none;
  }
}

table#wp-calendar {
  margin: 0 !important;
}

#wp-calendar caption {
  background: var(--primary-color);
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: 600;
  padding: 8px;
  border-radius: 0px 0px 4px 4px;
}

#wp-calendar tbody td {
  margin-bottom: 10px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #f4f4f4;
  padding: 6px;
}

#wp-calendar tbody td:hover {
  border-color: #e2e2e2;
}

#wp-calendar tbody td.pad {
  border: 0;
}

#wp-calendar tbody td#today {
  color: #47C2DC;
  border-color: #47C2DC;
}

#wp-calendar tfoot td#prev a,
#wp-calendar tfoot td#next a {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  bottom: -9px;
  margin-bottom: 1px;
}

#wp-calendar tfoot td#prev {
  text-align: left;
}

#wp-calendar tfoot td#next {
  text-align: right;
}

#wp-calendar thead th {
  font-size: 13px;
  font-weight: 400;
  color: #888;
  text-align: center;
  padding-bottom: 10px;
  border: none;
}

#wp-calendar tbody td a,
#wp-calendar tfoot td#prev a:hover,
#wp-calendar tfoot td#next a:hover {
  color: #47C2DC;
}

pre.wp-block-preformatted {
  margin-top: 20px;
}

.blog-post .desc .meta-info span .fa {
  margin-right: 5px;
  font-size: 14px;
}

.widget_search button.btn {
  padding: 5px 24px;
  border-radius: 0px 4px 4px 0px !important;

  &:hover {
    color: var(--white);
  }
}

.posts-pagination {
  h2.screen-reader-text {
    display: none;
  }

  .page-numbers {
    width: 34px;
    height: 34px;
    text-align: center;
    background: var(--primary-color);
    display: inline-block;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 900;
    color: var(--white);
  }

  .page-numbers.current {
    background-color: #c1caca;
    color: #222323;
  }

  .nav-links {
    margin: auto;
  }
}

.meta-info .fa {
  margin-right: 5px;
}