@import 'base/variables';
@import 'base/fonts';
@import 'base/reset';
@import 'base/functions';
@import 'base/typography';



/* ==============================================

1. Bg Color

============================================== */
.bg-color1 {
  background-color: $text-color;
}

.overlay:before {
  content: '';
  border-radius: $box-radius;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $overlay-color;
  z-index: 1;
}

.facebook {
  background: #1AB2E8;

  &:hover {
    background: #1AB2E8 !important;
  }

}

.twitter {
  background: #3A5896;

  &:hover {
    background: #3A5896 !important;
  }

}

.instagram {
  background: #F16797;

  &:hover {
    background: #F16797 !important;
  }
}

.pinterest {
  background: #C51F26;

  &:hover {
    background: #C51F26 !important;
  }
}

/* ==============================================

2. Bg Image

============================================== */


/* ==============================================

3. Header Area

============================================== */

.header-area {
  .container {
    @include laptop {
      position: relative;
    }

    @include tablet {
      position: relative;
    }
  }

  .col-10 {
    @include laptop {
      position: static;
    }

    @include tablet {
      position: static;
    }
  }

}

.header-area {
  padding: 50px 0;

  @include laptop {
    padding: 30px 0;
  }

  @include tablet {
    padding: 30px 0;
  }
}

.social-fixed {
  visibility: hidden;
  padding-top: 145px;
  position: fixed;
  top: 0;
  left: -60px;
  z-index: 6666;

  @include laptop {
    display: none;
  }

  @include tablet {
    display: none;
  }

  li {
    margin: 10px 0;
    transition: 1s all;

    a {
      width: 45px;
      height: 45px;
      display: block;
      text-align: center;
      border-radius: $round-radius;
      background-color: $grey-color;
      color: $text-color;
      padding: 10px 0px;
      transition: $transition-base;
    }

    a:hover {
      color: $light-color;
    }
  }
}

.social-fixed.show-social {
  visibility: visible;

  li {
    transition: $transition-base;
    transform: translateX(100px);
  }
}

.social-fixed.hide-social {
  visibility: hidden;
}

.header-logo {
  padding: 5px 0;

  img {
    max-height: 30px;
    max-width: 115px;
    object-fit: cover;
  }
}

.themeix-menu {
  float: right;

  #main-menu {
    width: calc(100% - 30px);
    float: left;

    @include tablet {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }

    li {
      background: transparent;
      border: 0;

      &:hover>a {
        color: $text-color;
      }

      >a {
        padding: 12px 40px 12px 0px;
        transition: $transition-base;
        font-weight: $font-weight-medium;
        color: $text-color;
        display: block;

        &:hover {
          color: $primary-color;
        }

        @include laptop {
          padding: 15px 30px 15px 25px;
          text-align: left;
        }

        @include tablet {
          padding: 15px 30px 15px 25px;
          text-align: left;
        }
      }

      .sub-toggle {
        background: transparent;
        right: 15px;
        width: 25px;

        @include tablet {
          width: 100%;
          text-align: right;
          margin-top: 5px;
        }

        i {
          color: transparent;

          &:before {
            font-family: "Font Awesome 5 Free";
            font-style: normal;
            font-weight: $font-weight-medium;
            content: "\f107";
            color: $text-color;
            top: 2px;
            position: relative;
          }
        }
      }
    }

    @include laptop {
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
      background: $light-color;
      box-shadow: $box-shadow;
      z-index: 1000;
    }

    @include tablet {
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
      background: $light-color;
      box-shadow: $box-shadow;
      z-index: 1000;
    }

    .has-submenu {
      position: relative;

      ul {
        top: 50px;
        width: 180px;
        background: $grey-color;
        box-shadow: $box-shadow;

        @include laptop {
          width: 100%;
          box-shadow: none;
        }

        @include tablet {
          width: 100%;
          box-shadow: none;
        }

        li {
          display: block;
          float: none;

          &:last-child {
            border-bottom: 0;
          }

          @include laptop {
            border-bottom: 0;
          }

          @include tablet {
            border-bottom: 0;
          }

          a {
            font-weight: $font-weight-normal;
            padding: 10px 15px;
            transition: $transition-base;

            &:hover {
              text-indent: 2px;
              color: $primary-color;
            }
          }
        }
      }
    }

  }

  .collapse-button {
    top: 20px;
    right: 10px;
  }

  .search-modal {
    float: left;
    width: 30px;
    padding: 12px 0px 12px 0;
    color: $text-color;


    @include laptop {
      position: absolute;
      top: -3px;
      right: 50px;
    }

    @include tablet {
      position: absolute;
      top: -3px;
      right: 50px;
    }
  }

}

.modal-backdrop.show {
  background-color: $light-color;
  opacity: 1;
  z-index: 99999;
}

#search-modal {
  z-index: 9999999;
  background: $dark-color;
  padding: 30px !important;

  .close {
    top: 20px;
    right: 30px;
    position: absolute;
    cursor: pointer;
    font-size: 50px;
    font-weight: $font-weight-normal;
  }

  .modal-content {
    border: 0;
  }

  form {
    padding: 0;
    border: 0;
    border-bottom: 1px solid $grey-color;

    button {
      background: $grey-color;
      color: $text-color;
      padding: 15px;
    }

    input {
      border-radius: 0;
      border-color: $grey-color;
    }
  }

  .modal-dialog {
    max-width: 700px;
    top: 10%;
    margin-top: 0;
  }
}



/* ==============================================

3. Banner Area

============================================== */
.banner-slider {

  .owl-dots {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;

    .owl-dot {
      background: #cacaca !important;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
    }

    .owl-dot.active {
      background: $primary-color !important;

    }
  }

  .owl-nav {
    position: absolute;
    bottom: 0;
    left: 0;

    @include laptop {
      margin-top: 30px;
      position: relative;
    }

    @include tablet {
      margin-top: 30px;
      position: relative;
    }

    .owl-prev {

      margin-right: 10px;
      font-size: 30px !important;
      line-height: 25px !important;
      color: $text-color !important;

      height: 30px;

      &:hover {
        color: $primary-color !important;
      }
    }

    .owl-next {

      font-size: 30px !important;
      color: $text-color !important;
      line-height: 25px !important;

      height: 30px;

      &:hover {
        color: $primary-color !important;
      }
    }
  }
}

.banner-area {
  position: relative;
  overflow: hidden;
}

#banner-one {
  @include laptop {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

#banner-one .shape-one {
  position: absolute;
  top: 21%;
  right: 22%;
  animation: animationFramesTwo 13s infinite linear
}

#banner-one .shape-two {
  position: absolute;
  top: 27%;
  left: 7%;
  animation: animationFramesFour 25s alternate infinite linear
}

#banner-one .shape-three {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: animationFramesThree 35s alternate infinite linear
}

#banner-one .shape-four {
  position: absolute;
  top: 70%;
  right: 3%;
  animation: animationFramesFour 20s alternate infinite linear
}

#banner-one .shape-five {
  position: absolute;
  bottom: 2%;
  right: 28%;
  animation: animationFramesOne 15s infinite linear
}

#banner-one .shape-six {
  position: absolute;
  bottom: 3%;
  left: 38%;
  animation: animationFramesFour 20s alternate infinite linear
}

#banner-one .shape-seven {
  position: absolute;
  bottom: 4%;
  left: 4%;
  animation: animationFramesOne 17s infinite linear
}

#banner-one .shape-eight {
  position: absolute;
  top: 60%;
  left: 4%;
  animation: animationFramesOne 20s alternate infinite linear
}

#banner-one .shape-nine {
  position: absolute;
  top: 22%;
  left: 41%;
  animation: animationFramesOne 15s infinite linear
}


@keyframes lds-flickr-opacity {
  0% {
    -webkit-transform: translate(0 0);
    transform: translate(0 0);
    opacity: 1;
  }

  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes lds-flickr-opacity {
  0% {
    -webkit-transform: translate(0 0);
    transform: translate(0 0);
    opacity: 1;
  }

  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes lds-flickr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes lds-flickr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.lds-css {
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background: $light-color;
}

.lds-flickr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.lds-flickr div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}

.lds-flickr div:nth-child(1) {
  background: $primary-color;
  -webkit-animation: lds-flickr 1.5s linear infinite;
  animation: lds-flickr 1.5s linear infinite;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.lds-flickr div:nth-child(2) {
  background: $text-color;
  -webkit-animation: lds-flickr 1.5s linear infinite;
  animation: lds-flickr 1.5s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.lds-flickr div:nth-child(3) {
  background: $primary-color;
  -webkit-animation: lds-flickr-opacity 1.5s linear infinite;
  animation: lds-flickr-opacity 1.5s linear infinite;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.lds-flickr {
  width: 70px !important;
  height: 70px !important;
  -webkit-transform: translate(-35px, -35px) scale(0.35) translate(35px, 35px);
  transform: translate(-35px, -35px) scale(0.35) translate(35px, 35px);
}


.banner-post {

  .thumbnail {
    height: 100%;

    &:before {}

    img {
      width: 100%;
      max-height: 540px;
      object-fit: cover;
      border-radius: $box-radius;

    }
  }

  .content {
    position: relative;
    margin-bottom: 60px;

    @include laptop {
      margin: 0;
      margin-top: 60px;
    }

    @include tablet {
      margin: 0;
      margin-top: 60px;
    }

    &:before {
      content: "";
      background-image: url(../images/banner-after.png);
      background-position: right bottom;
      position: absolute;
      width: 300px;
      height: 300px;
      left: -160px;
      top: -60px;
    }

    .wrap {
      position: relative;
      z-index: 2;
    }

    .author {
      margin: 0;
      display: flex;
      font-size: $small-font-size;

      .avatar {
        display: flex;
        flex-wrap: wrap-reverse;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-left: -5px;

          img {
            width: 30px;
            height: 30px;
            border-radius: $round-radius;
            object-fit: cover;
          }
        }
      }

      .name {
        padding-left: 10px;
        padding-top: 0;

        a {
          color: $primary-color;
        }
      }

    }

    .meta-info {
      margin-bottom: 10px;
      font-size: $small-font-size;

      span {
        margin-right: 5px;

        &:after {
          content: "|";
          margin-left: 10px;
          opacity: 0.5;

        }

        &:last-child:after {
          display: none;
        }

        a {

          color: $primary-color;
        }
      }
    }

    .desc {

      h1,
      h2,
      h3 {
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 30px;
      }
    }
  }

}



/* ==============================================

3. Page Title Area

============================================== */
.post-title-post {
  min-height: 500px;

  height: 100%;
  animation: zoomout 3s;
  -webkit-animation: zoomout 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.page-title-post {
  position: relative;
  padding: 80px 100px;
  border-radius: $box-radius;
  text-align: center;
  background-position: center;

  background-attachment: fixed;
  height: 100%;
  animation: zoomout 5s;
  -webkit-animation: zoomout 5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;


  @include laptop {
    padding: 60px;
  }

  @include tablet {
    padding: 40px;
  }

  p {}

  .wrap {
    position: relative;
    z-index: 5;
  }

  .meta-info {
    font-size: $small-font-size;

    i {
      margin-right: 5px;
    }
  }

  .author-img {

    img {
      border: 4px solid $light-color;
      height: 110px;
      width: 110px;
      border-radius: $round-radius;
    }


  }

  .social-link {




    li {
      a {
        text-align: center;
        color: $light-color;
        width: 40px;
        height: 40px;
        display: block;
        padding: 7px 3px;
        border-radius: $round-radius;
        border: 3px solid $light-color;
        transition: $transition-base;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }


}





/* ==============================================

3. Blog Area

============================================== */

.blog-post {
  position: relative;
  background: $primary-color;
  padding: 30px;
  border-radius: $box-radius;
  margin-bottom: 30px;


  @include laptop {
    padding: 30px;
  }

  @include tablet {
    padding: 30px;
  }

  &:before {
    content: "";
    background-image: url(../images/blog-after.png);
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.4;
  }

  .blog-wrap {
    position: relative;
    z-index: 2;
  }

  .feature-btn {
    float: right;
    background: rgba(0, 0, 0, 0.19);
    color: $light-color;
    font-size: $small-font-size;
    padding: 2px 12px;
    border-radius: $box-radius;

    i {
      margin-right: 5px;
    }

    @include mobile {
      float: none;
      margin-bottom: 5px;
    }
  }

  .author {
    display: flex;
    margin-bottom: 30px;
    font-size: $small-font-size;

    @include mobile {
      margin-top: 15px;
    }

    .avatar {
      display: flex;
      flex-wrap: wrap-reverse;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        img {
          width: 30px;
          height: 30px;
          border-radius: $round-radius;
          border: 2px solid $light-color;
          object-fit: cover;
        }
      }
    }

    .name {
      padding-left: 10px;
      padding-top: 2px;
    }

  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: $light-color;

    a {
      color: $light-color;
    }
  }

  .desc {

    h3,
    h4,
    h5 {
      margin-bottom: 30px;

      &:after {
        content: "";
        width: 0%;
        height: 2px;
        background: $light-color;
        display: block;
        opacity: 0.5;
        transition: $transition-base;
      }

      &:hover:after {
        width: 100%;
      }
    }

    .meta-info {
      margin: 0;
      font-size: $small-font-size;

      span {
        margin-right: 5px;

        &:after {
          content: "|";
          margin-left: 10px;
          opacity: 0.5;

        }

        &:last-child:after {
          display: none;
        }

        a {

          color: $light-color;
        }
      }
    }
  }
}

.author-post {
  border-radius: $box-radius;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;

  .thumbnail {
    img {

      width: 100%;
      max-width: 600px;
    }
  }

  .content {
    text-align: center;
    padding: 30px 10px;

    h3,
    h4,
    h5,
    h6,
    h4 a,
    h5 a,
    p,
    .social span a {
      color: $light-color;
    }

    h4,
    h5,
    h3 {

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: $small-font-size;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 25px;
      margin-bottom: 25px;
    }

    .social {
      font-size: $small-font-size;

      span {
        margin-right: 10px;

      }
    }
  }

}

.category-post {
  border-radius: $box-radius;
  margin-bottom: 30px;
  position: relative;
  padding: 30px;

  .desc {

    h3,
    h4,
    h5,
    h6,
    h3 a,
    h4 a,
    h5 a,
    h6 a,
    p,
    span {
      color: $light-color;
    }

    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0;
    }

    .meta-info {
      margin-bottom: 15px;
      font-size: $small-font-size;
    }
  }
}

.entry-title {
  .meta-info {
    font-size: $small-font-size;

    span {
      margin-right: 5px;

      &:after {
        content: "|";
        margin-left: 10px;
        opacity: 0.5;

      }

      &:last-child:after {
        display: none;
      }

      a {

        color: $primary-color;
        margin-right: 5px;
      }
    }
  }

  h2,
  h3,
  h4 {
    margin: 15px 0;
  }

  .author {
    display: flex;
    margin-bottom: 30px;
    font-size: $small-font-size;

    .avatar {
      display: flex;
      flex-wrap: wrap-reverse;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        img {
          width: 30px;
          height: 30px;
          border-radius: $round-radius;
          object-fit: cover;
        }
      }
    }

    .name {
      padding-left: 10px;
      padding-top: 2px;

      a {

        color: $primary-color;
      }
    }
  }

}




.tags-meta {
  ul {

    margin: 0;

    li {
      a {
        display: inline-block;
        transition: $transition-base;
        background: $text-color;
        color: #fff;
        padding: 3px 10px;

        &:hover {
          background: $primary-color;
          color: $light-color;
        }
      }
    }




  }
}

.social-meta {

  @include laptop {
    text-align: left !important;
  }

  @include tablet {
    text-align: left !important;
  }

  ul {
    position: relative;
    display: inline-block;
    margin: 0;

    &:before {
      content: "";
      background-image: url(../images/social-meta-before.png);
      background-repeat: no-repeat;
      width: 45px;
      height: 40px;
      display: block;
      position: absolute;
      right: -60px;

      @include tablet {
        display: none;
      }
    }

    li {
      margin-bottom: 5px;

      a {
        display: inline-block;
        padding: 5px 30px;
        color: $light-color;
        transition: $transition-base;
        border-radius: $box-radius;

        &:hover {
          color: $light-color;
        }
      }
    }

  }
}

.author-bio-slider {
  background-color: $grey-color;
  padding: 30px;
  border-radius: $box-radius;
  position: relative;

  @include laptop {
    padding: 30px;
  }

  @include tablet {
    padding: 30px;
  }

  .wrap {
    position: relative;
    z-index: 5;
  }

  &:before {
    content: "";
    background-image: url(../images/author-bio-before.png);
    background-repeat: no-repeat;
    background-position: -90px -310px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }



  .author {
    width: 100%;
    display: table;
    margin-bottom: 15px;

    .thumbnail {
      padding-right: 15px;
      float: left;

      img {
        width: 50px;
        height: 50px;
        border-radius: $round-radius;
      }
    }

    .name {
      float: left;

      h4 a,
      h5 a,
      h6 a,
      span {}

      h4,
      h5,
      h6 {
        margin-bottom: 0;
      }

      span {
        font-size: $small-font-size;
        display: inline-block;
      }
    }

  }

  .content {
    p {
      font-size: 1.125rem;
      line-height: 2;
    }

    .social-link {
      font-size: $small-font-size;
      margin-bottom: 0;

      li {
        a {
          i {
            background: $text-color;
            padding: 10px;
            color: $grey-color;
            font-size: 13px;
            border-radius: 50%;
            width: 30px;
            height: 30px;

            &:hover {
              background: $primary-color
            }


          }
        }
      }
    }
  }

  .owl-nav {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 50%;
    display: none;
    margin-top: -35px;

    .owl-prev {
      float: left;
      font-size: 50px !important;
      color: $light-color !important;
    }

    .owl-next {
      float: right;
      font-size: 50px !important;
      color: $light-color !important;
    }

    @include tablet {
      display: none !important;
    }
  }

  &:hover {
    .owl-nav {
      display: block;
    }
  }
}



.latest-slider {
  .owl-nav {
    display: block;

    .owl-prev {
      float: left;
      font-size: 50px !important;
      color: $primary-color !important;
      position: absolute;
      right: 30px;

      top: 0;
      margin-top: -92px;
    }

    .owl-next {
      float: right;
      font-size: 50px !important;
      color: $primary-color !important;
      position: absolute;
      margin-top: -92px;
      right: 0;
      top: 0;

    }

    @include tablet {
      display: none !important;
    }
  }

  &:hover {
    .owl-nav {
      display: block;
    }
  }
}












.blog-variation [class*="col"]:nth-child(4n+1),
.blog-variation [class*="col"]:nth-child(4n+2),
.authors-variation [class*="col"]:nth-child(4n+1),
.authors-variation [class*="col"]:nth-child(4n+2) {

  .blog-post,
  .author-post .content,
  .category-post {
    background-color: $primary-color;
  }
}


.blog-variation [class*="col"]:nth-child(4n+2),
.blog-variation [class*="col"]:nth-child(4n+3),
.authors-variation [class*="col"]:nth-child(4n+2),
.authors-variation [class*="col"]:nth-child(4n+3) {

  .blog-post,
  .author-post .content,
  .category-post {
    background-color: $danger-color;
  }
}

.blog-variation [class*="col"]:nth-child(4n+3),
.blog-variation [class*="col"]:nth-child(4n+4),
.authors-variation [class*="col"]:nth-child(4n+3),
.authors-variation [class*="col"]:nth-child(4n+4) {

  .blog-post,
  .author-post .content,
  .category-post {
    background-color: $warning-color;
  }
}

.blog-variation [class*="col"]:nth-child(4n+4),
.blog-variation [class*="col"]:nth-child(4n+4),
.authors-variation [class*="col"]:nth-child(4n+4),
.authors-variation [class*="col"]:nth-child(4n+4) {

  .blog-post,
  .author-post .content,
  .category-post {
    background-color: $info-color;
  }
}

.blog-variation [class*="col"]:nth-child(5n+5),
.blog-variation [class*="col"]:nth-child(5n+5) {
  max-width: 100% !important;
  flex: 0 0 100% !important;
}

.loadmore-button {
  padding: 10px 30px;
  color: $primary-color;
  background-color: transparent;
  border-radius: $box-radius;
  display: inline-block;

  &:hover {
    color: $light-color;
  }
}





/* ==============================================

3. Newsletter Area

============================================== */
.newsletter-area {
  .thumbnail {
    img {
      max-height: 560px;
    }

    @include laptop {
      margin-bottom: 30px;
    }

    @include tablet {
      margin-bottom: 30px;
    }
  }
}

.newsletter-form {
  box-shadow: $box-shadow;
  border-radius: $box-radius;
  overflow: hidden;

  input {
    border: 0;
    border-radius: $border-radius;
    padding: 15px 20px;
  }

  button {
    border: 0;
    border-radius: $border-radius;
    background: $light-color;
    color: $primary-color;
    padding: 15px 30px;
  }
}




/* ==============================================

3. Contact Form

============================================== */


.contact-info {
  display: table;
  width: 100%;
  margin-bottom: 50px;

  .logo {
    height: 70px;
    width: 70px;
    display: block;
    border-radius: $round-radius;
    background-color: $primary-color;
    text-align: center;
    padding: 20px 10px;
    float: left;

    img {
      height: 30px;
    }
  }

  .content {
    display: block;
    width: 100%;
    float: left;
    padding-left: 0;

    h5 {
      margin-bottom: 10px;
    }

    p {
      margin: 0;
    }

    .social {
      margin: 0;

      span {
        margin: 0 10px;
        font-size: $small-font-size;

        a {
          color: $text-color;
        }
      }
    }

  }

}



/* ==============================================

3. Footer Area

============================================== */

.footer-top {
  background: $grey-color;
  padding: 30px;
}

.footer-area {
  padding: 225px 0px 50px;

  p {
    color: $light-color;

    &:last-child {
      margin: 0;
    }
  }
}

.footer-copyright {
  p {
    font-size: $small-font-size;
    margin: 0;

    a {
      color: $light-color;
    }
  }

  @include tablet {
    text-align: left !important;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 15px;
}

.footer-social {

  margin: 0;

  @include laptop {
    float: left;
    margin-top: 15px;
  }

  @include tablet {
    float: left;
    margin-top: 15px;
  }

  li {
    a {
      text-align: center;
      color: $light-color;
      width: 40px;
      height: 40px;
      display: block;
      padding: 7px 3px;
      border-radius: $round-radius;
      transition: $transition-base;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}









.new_footer_top {
  padding: 0 0px 270px;
  position: relative;
  overflow-x: hidden;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer_bottom {
  padding: 27px 0px;
}

.new_footer_top .company_widget p {
  margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}




.new_footer_top .f_widget.about-widget .f_list li a {
  color: $text-color;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("../images/footer_bg-2.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("../images/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("../images/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

/*************footer End*****************/








#return-top {
  background: $light-color;
  border-radius: $round-radius;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: $text-color;
  box-shadow: $box-shadow;
  padding: 12px 4px;
  text-align: center;
}


/* Jekyll Fix */
.author .name {
  margin-top: -8px;
}

.separate:last-child {
  display: none;
}

.page-title-post .social-link li a {
  padding: 5px 11px;
}

.author-bio-slider:hover .owl-nav {
  display: none !important;
}

.wrap .name {
  margin: 0px;
}


.post-image {
  float: left;
  width: 122px;
  margin-right: 8px;
}

.post-image a {
  display: block;
}

.search-content {
  float: left;
  width: calc(100% - 130px);
}

.search-content h3 {
  margin-bottom: 3px;
}

.search-content h3 a {
  color: $text-color;
  font-size: 20px;
  margin-top: -5px;
  display: block;


}

#gh-search-results {

  border-radius: 10px;
  margin-top: 0;
  width: 100%;
  left: 0;
}

#gh-search-results a.gh-search-item {
  display: block;
  background: $grey-color;
  padding: 10px 15px;
  width: 100%;
  border-bottom: 1px solid $light-color;
  float: left;
}

#gh-search-results h2 {
  font-size: 18px;
  color: $text-color;
  float: left;
  width: 100%;
  margin: 0;
  text-align: left;
  line-height: 1.4;
}

#gh-search-results .link-url {
  text-align: left;
  font-size: 12px;
  color: $primary-color;
  font-weight: 400;
}

#gh-search-text {
  padding: 14px;
  height: auto;
}


#btn-close-modal a {
  position: absolute;
  display: inline-block;
  color: $light-color;
  font-size: 60px;
  right: 5%;
}

#results-container li a {
  display: inline-block;
  padding: 5px 10px;
}

#results-container li a:first-child {
  padding-top: 15px;
}

button.js-load-posts.loadmore-button.buttonload.c-btn-disabled {
  display: none !important;
}

.author-bio-slider-container {
  padding: 0 100px 0;

}

@media (max-width: 800px) {
  .author-bio-slider-container {
    padding: 0 5vw;
  }
}

/* Member Form
/* ---------------------------------------------------------- */
.subscribe-form {

  text-align: center;
}

.subscribe-form form {

  align-items: center;
  margin: 0 auto;
  max-width: 460px;
}

.subscribe-email {
  display: block;
  padding: 5px;
  width: 100%;
  font-weight: normal;
  user-select: text;
  border-radius: 5px;
  border: 1px solid $grey-color;
  padding: 10px;


}

.subscribe-email:focus {
  outline: 0;

}

.subscribe-form button {
  position: relative;
  display: block;
  margin: 10px 0 0 0px;
  outline: 0;
  color: $light-color;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  width: 100%;
  background: $primary-color;
  border: none;
  height: auto;
}

.subscribe-form button:active,
.subscribe-form button:focus {}

.subscribe-form .button-loader,
.subscribe-form .message-success,
.subscribe-form .message-error {
  display: none;
}

.subscribe-form .loading .button-content {
  visibility: hidden;
}

.subscribe-form .loading .button-loader {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  margin-left: -19px;
  transform: scale(0.7);
}

.subscribe-form .button-loader svg path,
.subscribe-form .button-loader svg rect {
  fill: $dark-color;
}

.subscribe-form .success .message-success,
.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {

  color: $primary-color;
  text-align: center;
}

.subscribe-form .success .message-success {
  display: block;

}

.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
  display: block;
}

.message-success {
  color: #4CAF50 !important;
}


@media (max-width: 500px) {
  .subscribe-form form {
    flex-direction: column;
  }

  .subscribe-form .form-group {
    flex-direction: column;
    width: 100%;
  }

  .subscribe-form button {
    margin: 10px 0 0 0;
    width: 100%;
  }
}




/* 12. Members
/* ---------------------------------------------------------- */

.member-page-content input[type="text"],
.member-page-content input[type="password"],
.member-page-content input[type="email"],
.member-page-content input[type="tel"],
.member-page-content input[type="search"],
.member-page-content input[type="url"],
.member-page-content select {
  height: 44px;
  background: $light-color;
  border-radius: 5px;
  border: none;
  border: solid 1px $grey-color;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.6em;
  text-decoration: none;
  width: 100%;
}

.member-page-content input[type="text"]:focus,
.member-page-content input[type="password"]:focus,
.member-page-content input[type="email"]:focus,
.member-page-content input[type="tel"]:focus,
.member-page-content input[type="search"]:focus,
.member-page-content input[type="url"]:focus,
.member-page-content select:focus,
.member-page-content textarea:focus {
  border-color: var(--blue);
}

.member-page-content .button {
  display: inline-block;
  height: 44px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  appearance: none;
  transition: 0.4s ease;
  padding: 10px 20px;
  background: $primary-color;
  color: $light-color;
}




.site-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.signup-title {
  margin: 0 0 30px;
}

.signup-form p {}

.signup-form p small {
  display: inline-block;
  margin: 15px 0 0 0;
}

.signup-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-box .button {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .signup-box {
    flex-direction: column;
  }

  .signup-box .button {
    width: 100%;
    margin: 15px 0 0 0;
  }
}

.site-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-form {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.signin-title {
  margin: 0 0 30px;
}

.signin-form p {}

.signin-form p small {
  display: inline-block;
  margin: 15px 0 0 0;
}

.signin-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signin-box .button {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .signin-box {
    flex-direction: column;
  }

  .signin-box .button {
    width: 100%;
    margin: 15px 0 0 0;
  }
}

.checkout-form {
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.checkout-title {
  margin: 0 auto 10px;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.checkout-form p {
  max-width: 500px;
  margin: 0 auto 60px;


}

.checkout-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.checkout-plan {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-top: $primary-color 6px solid;
  text-align: left;
  border-radius: 10px;
  color: $primary-color;
  background: #eee;
  box-shadow: 0 0 0 1px rgba(39, 44, 49, .03), 0 0 3px rgba(39, 44, 49, .05), 0 5px 22px -10px rgba(39, 44, 49, .12), 0 25px 30px -25px rgba(39, 44, 49, .05);
}

.checkout-plan+.checkout-plan {
  margin-left: 30px;
}

.checkout-plan-header {
  position: relative;
  padding: 0 0 50px;

  text-align: center;
}

.checkout-plan-header:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 25px;
  left: 30%;
  right: 30%;
  background: rgba(39, 44, 49, .08);
  border-radius: 2px;
}

.checkout-plan-header h3 {
  margin: 0 0 25px 0;

  font-size: 1.8rem;
  line-height: 1.15em;
  font-weight: 700;
}

.checkout-plan-header span {
  font-size: 2.6rem;
  font-weight: 300;
}

.checkout-plan-header strong {

  font-weight: 500;
}

.checkout-plan-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-plan-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.checkout-plan-content li {
  position: relative;
  margin: 0;
  padding: 0 0 15px 20px;
  line-height: 1.4em;
}

.checkout-plan-content li:before {
  display: block;
  position: absolute;
  left: 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: color(var(--green) l(-5%));
  content: "✓";
}

.checkout-plan-content .button {
  margin: 20px 0 0 0;
}

@media (max-width: 740px) {
  .checkout-title {
    margin-top: 50px;
  }

  .checkout-box {
    flex-direction: column;
  }

  .checkout-plan+.checkout-plan {
    margin: 5vw 0 0 0;
  }
}

form[data-members-form] .button-loader,
form[data-members-form] .message-success,
form[data-members-form] .message-error {
  display: none;
}

.message-success svg,
.message-error svg {
  position: relative;
  top: -1px;
  margin-right: 5px;
  height: 15px;
  width: 15px;
}

.message-success svg {
  fill: $light-color;
}

.message-error svg {
  fill: var(--red);
}

form[data-members-form].success .message-success,
form[data-members-form].error .message-error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  background: $grey-color;
  border-radius: 0;
  width: 100%;

}

form[data-members-form].success .message-success {
  background: green;
  color: #fff !important;
}

form[data-members-form].error .message-error {
  color: red;
  background: $grey-color;
  box-shadow: red 0 0 0 1px;
}

form[data-members-form] .button {
  position: relative;
}

/*-- Loading --*/

/* Hide button text */
form[data-members-form].loading .button-content {
  visibility: hidden;
}

/* Show loading spinner */
form[data-members-form].loading .button-loader {
  display: inline-block;
  position: absolute;
  left: 50%;
  height: 31px;
  margin-left: -19px;
  transform: scale(0.7);
}

.button-loader svg path,
.button-loader svg rect {
  fill: $light-color;
}

/*-- Show success message on success --*/
form[data-members-form].success .message-success {
  display: block;
}

/*-- Show error message on error --*/
form[data-members-form].error .message-error {
  display: block;
}

.site-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
}

.account-box {
  width: 100%;
  margin: 0 auto;
}

.account-box-title {}


/* Post Upgrade CTA */

.post-upgrade-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-upgrade-cta-content {
  width: 100%;
  padding: 40px 30px;
  text-align: center;
  color: $primary-color;
  background: $grey-color;
  border-radius: 5px;
}

.post-upgrade-cta-content h2 {
  margin: 0;
  color: $primary-color;
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: -0.5px;
}

.post-upgrade-cta .button,
.post-upgrade-cta .button:hover {
  margin: 30px 0;
  color: $light-color;
  background: $primary-color;
  box-shadow: none;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-weight: $font-weight-semi;
  border-radius: 5px;
}

.post-upgrade-cta p {
  margin: 0;
}

.post-upgrade-cta a,
.post-upgrade-cta a:hover {
  color: $primary-color;
  text-decoration: underline;
  box-shadow: none !important;
}

/* Zoom Animation */
@keyframes zoomout {
  0% {
    background-size: 110%;
  }

  100% {
    background-size: 100%;
  }
}

@-webkit-keyframes zoomout {
  0% {
    -webkit-background-size: 110%;
  }

  100% {
    -webkit-background-size: 100%;
  }
}

/*---------- style-switcher -----------*/
.day-night-switch {
  left: 15px;
  position: fixed;
  bottom: 15px;
}

.theme-toggle[type=checkbox] {
  height: 0;
  width: 0;
  border: none;
  outline: 0;
  visibility: hidden
}

.theme-toggle[type=checkbox]:checked+.theme-toggle-label {
  border-color: $primary-color;
}

.theme-toggle[type=checkbox]:checked+.theme-toggle-label::before {
  background: $primary-color;
  box-shadow: none;
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%)
}

.theme-toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 32px;
  height: 20px;
  margin-bottom: 0;
  line-height: 20px;
  border: 2px solid var(--color, black);
  border-radius: 10px;
  position: relative
}

.theme-toggle-label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: 0 0;
  border-radius: 100%;
  box-shadow: inset 2px 0 var(--color, black), inset 4px 0 0 1px var(--color, black);
  transition: .3s;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg)
}

@import 'base/extra';